.well{
  padding-top: 95px;
  text-align: center;
  height: 250px;
  width: 250px;
  margin: 10px 20px 30px 0px;
  background-color: #7FADCA;
  border: 5px solid #595959;
}

body {
  background-color: #999999;
}
#bold {
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.jumbotron{
  background-color: #B8C5CC;
  font-size: 60px;
}

.button {
  text-align: center;
}

.yellow-background {
  background-color: #F1C5D1;
}

.green-background {
  background-color: #D8B2D8;
}

/*#bold-2 {
  font-weight: bold;
  font-size: 30px;
  padding-top: 30px;
}*/

.definition-shown{
  display: none;
}

.definition-shown-2{
  display: none;
}

.definition-shown-3{
  display: none;
}
.definition-shown-4{
  display: none;
}
.definition-shown-5{
  display: none;
}
.definition-shown-6{
  display: none;
}
.definition-shown-7{
  display: none;
}
.definition-shown-8{
  display: none;
}
.definition-shown-9{
  display: none;
}
.definition-shown-10{
  display: none;
}
.definition-shown-11{
  display: none;
}

.definition-shown-12{
  display: none;
}
.definition-shown-13{
  display: none;
}
.definition-shown-14{
  display: none;
}
.definition-shown-15{
  display: none;
}
.definition-shown-16{
  display: none;
}
h1{
  text-align: center;
}
